<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1.0">
<title>Stair-shaped Board</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/stairShapedBoard.css}">
<style type="text/css">
</style>
<script type="text/javascript" th:src="@{/js/stairShapedBoardForm.js}">
	
</script>
<script type="text/javascript">
	$(function() {
		$("#inputFile").on("change", handleImgFileSelect); //on(event,handler) -> 여기서는 change 이벤트 발생할때의 동작 지정
	});
	function handleImgFileSelect(e) {
		$(".imgsWrap").html(""); //파일 다시 선택시 미리보기 초기화
		let files=e.target.files;
		let filesArr=Array.from(files); //FileList를 Array로 변경
		filesArr.forEach(i=>{
			if(i.type.match("image.*")){ //이미지 타입일 때 수행
				let reader=new FileReader(); //읽을 파일을 가리키는 File 객체 이용해 파일 내용을 읽고 사용자의 컴퓨터에 저장하는 것을 가능하게 함
				reader.onload=function(e){ //읽기 동작이 성공적으로 완료되었을때마다 발생할 동작
					let tag="<img src='"+e.target.result+"' width=100 height=100/>";
					$(".imgsWrap").append(tag);
				}
				reader.readAsDataURL(i); //파일을 url로 읽어온다
			}
		});

	}
</script>
</head>
<body>
	<div class="container">
		<div class="jumbotron" style="padding: 10px; text-align: center;">
			<img th:src="@{/img/crazyArcadePng2.png}" width=100>
			<h1 style="display: inline; vertical-align: middle">크레이지 아케이드
				Q&A</h1>
			<img th:src="@{/img/crazyArcadePng.png}" width=100>
			<div>게시글 작성</div>
		</div>
		<form id="stairBoardForm" th:action="@{/stairShapedBoardInsert}"
			th:object="${board}" onsubmit="updateBoard()" method="post"
			enctype="multipart/form-data">
			<input type="hidden" th:field="*{prntno}">
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="writer" class="">글쓴이</label> <input type="text"
						class="form-control" th:field="*{writer}" autofocus="autofocus"
						required="required" pattern=".{1,15}">
				</div>
				<div class="form-group col-md-8">
					<label for="writer">제목</label> <input type="text"
						class="form-control" th:field="*{title}" required="required"
						pattern=".{1,50}"><br>
				</div>
			</div>
			<div class="form-group">
				<label for="stairContent">내용</label>
				<textarea class="form-control" id="stairContent" rows="20"
					th:field="*{content}"></textarea>
			</div>
			<div class="form-group">
				<input type="file" multiple="multiple" id="inputFile" name="files">
			</div>
			<div class="form-group">
				<div class="imgsWrap"></div>
			</div>
			<span id="textCount"></span> <br>
			<br>
			<div class="text-center mb-5">
				<button type="submit" class="btn btn-primary">등록</button>
				<button type="button" class="btn btn-primary"
					onclick="history.back(-1)">취소</button>
			</div>
		</form>
	</div>
</body>
</html>