<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/loginResult}" th:object="${user}" action="#" id="loginForm" method="post">
ID: <input type="text" th:field="*{id}" name="id" id="id"><br>
PASSWORD: <input type="password" th:field="*{password}" name="password" id="password"><br>
<input type="submit" value="LOGIN">
</form>
</body>
</html>