<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Stair-shaped Board</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/stairShapedBoard.css}">
<style type="text/css">

</style>
<script th:inline="javascript" type="text/javascript">
	let startPage=/*[[${paging.startPage}]]*/;
	let cntPerBlock=/*[[${paging.cntPerBlock}]]*/;
	let category= /*[[${category}]]*/;
	let search= /*[[${search}]]*/;
</script>
<script type="text/javascript"  th:src="@{/js/stairShapedBoardList.js}">
</script>
</head>
<body>
	<form th:action="@{/stairShapedBoardList}" method="get">
		<select name="category">
			<option value="title">제목</option>
			<option value="writer">글쓴이</option>
		</select> <input type="text" name="search"> <input type="submit"
			value="검색">
	</form>
	<br>
	<div th:include="stairShapedBoardListFrag :: boardListTable"></div>

	<br>
	<a th:href="@{/stairShapedBoardInsertForm}">게시글 작성</a>
	<a th:href="@{/stairShapedBoardList}">최신
		게시글 목록</a>
</body>
</html>