<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Stair-shaped Board</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" th:href="@{/css/stairShapedBoard.css}">
<style type="text/css" >

</style>
<script th:inline="javascript" type="text/javascript">
let grpno=/*[[${grpno}]]*/;
let nowPage=/*[[${nowPage}]]*/;
let startPage=/*[[${paging.startPage}]]*/;
let smallNowPage=/*[[${smallNowPage}]]*/;
let cntPerBlock=/*[[${paging.cntPerBlock}]]*/;
let category= /*[[${category}]]*/;
let search= /*[[${search}]]*/;
let no=/*[[${thisBoard.no}]]*/;
</script>
<script type="text/javascript" th:src="@{/js/stairShapedBoard.js}">
	
</script>
</head>
<body>
	<input type="hidden" name="nowPage" th:value="${nowPage}">
	<input type="hidden" name="category" th:value="${category}">
	<input type="hidden" name="search" th:value="${search}">
	<section id="center">
	<div id="stairBoardBtnDiv">
	<a th:href="@{/stairShapedBoardUpdateForm(no=${thisBoard.no})}">
	<button class="stairBoardBtn" type="button">수정</button></a>
	<button class="stairBoardBtn" type="button"
		th:onclick="|javascript:deleteBoard(${thisBoard.no})|">삭제</button>
	</div>
	<div id="stairThisBoard" th:object="${thisBoard}">
		<div id="stairTitle" th:text="*{title}"></div>
		<div id="stairBoardInfoDiv">
			<span class="stairBoardInfo" id="writer" th:text="|글쓴이 *{writer}|"></span>
			<span class="stairBoardInfo" id="hits" th:text="|조회수 *{hits}|"></span> 
			<span class="stairBoardInfo" id="date" th:text="|작성일 *{#dates.format(regdate,'yy.MM.dd hh:mm')}|"></span>
		</div>
		<p id="stairContent" th:text="*{content}" ></p>
	</div>
	<br>
	<div id="smallListDiv"></div>
	<br>
	<a th:href="@{/stairShapedBoardInsertForm(prntno=${thisBoard.no})}">
	<button type="button">답글 작성</button></a>
	<button type="button" th:if="${beside.upNo!=-1}" class="beside" th:value="${beside.upNo}">윗글</button>
	<button type="button" th:if="${beside.downNo!=-1}" class="beside" th:value="${beside.downNo}">아랫글</button>
	<span id="backList" style="cursor: pointer;">게시글 목록</span>
	</section>
</body>
</html>